aesara==2.9.4
attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
ConfigParser==7.2.0
crawl4ai==0.6.3
cryptography==45.0.4
Cython==3.1.2
dateparser==1.2.0
docutils==0.21.2
filelock==3.18.0
flint==0.0.1
gmpy2==2.2.1
h2==4.2.0
HTMLParser==0.0.2
hypothesis==6.135.16
ipython==8.12.3
ipywidgets==8.1.7
jnius==1.1.0
js==1.0
keyring==25.6.0
lxml==6.0.0
matchpy==0.5.5
mercantile==1.2.1
multiset==3.2.0
pandas==2.3.0
Pillow==11.2.1
protobuf==6.31.1
psutil==7.0.0
psycopg2==2.9.10
pycosat==0.6.6
pydy==0.7.1
pyglet==2.1.6
pymc==5.23.0
pymc3==3.11.6
pyodide==0.0.2
PyOpenGL==3.1.9
pyOpenSSL==25.1.0
pysat==3.2.2
pytest==8.3.3
python_socks==2.7.1
pywin32==310
redis==6.2.0
sage==0.0.0
scipy==1.16.0
selenium==4.33.0
setuptools==75.1.0
Sphinx==8.2.3
SQLAlchemy==2.0.41
symengine==0.14.1
theano==1.0.5
urllib3_secure_extra==0.1.0
websockets==15.0.1
wsaccel==0.6.7
xmlrpclib==1.0.1
zstandard==0.23.0
